In [1]:
import mysql.connector as connector

In [3]:
connection = connector.connect(user = "Htet Naung Oo", password = "272005ismyBD!", db = "LittleLemonDB")

In [4]:
cursor = connection.cursor()

In [5]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)

In [6]:
for i in cursor:
    print(i)

('Booking',)
('Customer',)
('MenuItem',)
('Order',)
('OrderDeliveryStatus',)
('OrderItem',)
('ordersview',)
('Staff',)

In [10]:
cursor.execute("""
SELECT 
    CONCAT(c.FirstName, ' ', c.LastName) AS FullName,
    c.Phone,
    c.Email,
    o.TotalCost
FROM Customer c
INNER JOIN Booking b 
    ON c.CustomerID = b.CustomerID
INNER JOIN `Order` o 
    ON b.BookingID = o.BookingID
WHERE o.TotalCost > 10;
""")

In [11]:
results = cursor.fetchall()

In [12]:
for row in results:
    print(row)

('Htet Naung', '0951234567', 'htetnaung@example.com', Decimal('15.00'))
('Mya Win', '0951234568', 'myawin@example.com', Decimal('12.50'))
('Aung Kyaw', '0951234569', 'aungkyaw@example.com', Decimal('18.00'))
('Thiri Htet', '0951234570', 'thirih@example.com', Decimal('20.50'))
('Su Lwin', '0951234572', 'sulwin@example.com', Decimal('14.50'))
('Ei Mon', '0951234573', 'eimon@example.com', Decimal('16.00'))
('Zaw Tun', '0951234574', 'zawtun@example.com', Decimal('22.00'))
('Nandar Htet', '0951234575', 'nandar@example.com', Decimal('19.50'))
('Ko Ko', '0951234576', 'koko@example.com', Decimal('17.00'))
('May Su', '0951234577', 'maysu@example.com', Decimal('21.50'))
('Hla Win', '0951234578', 'hlawin@example.com', Decimal('23.00'))
('Kyaw Min', '0951234579', 'kyawmin@example.com', Decimal('18.50'))
('Phyo Zaw', '0951234580', 'phyozaw@example.com', Decimal('20.00'))
('Ei Hnin', '0951234581', 'eihnin@example.com', Decimal('19.00'))
('Min Thu', '0951234582', 'minthu@example.com', Decimal('16.50'))
('Shwe Hla', '0951234583', 'shwehla@example.com', Decimal('22.50'))
('Hnin Ei', '0951234584', 'hninei@example.com', Decimal('24.00'))
('Tun Soe', '0951234585', 'tunsoe@example.com', Decimal('17.50'))
('Su Htet', '0951234586', 'suhtet@example.com', Decimal('18.00'))
('Aye Mon', '0951234587', 'ayemon@example.com', Decimal('15.50'))
('Zin Mar', '0951234588', 'zinmar@example.com', Decimal('16.00'))
('Khin Sandi', '0951234589', 'khinsandi@example.com', Decimal('21.00'))
('Paing Zin', '0951234590', 'paingzin@example.com', Decimal('22.50'))
('Hlaing Win', '0951234591', 'hlaingwin@example.com', Decimal('19.50'))
('Nyein Ei', '0951234592', 'nyeinei@example.com', Decimal('23.00'))
('Thant Zaw', '0951234593', 'thantzaw@example.com', Decimal('24.50'))
('Htet Aung', '0951234594', 'htetaung@example.com', Decimal('20.00'))
('Yamin Thu', '0951234595', 'yaminthu@example.com', Decimal('18.50'))
('Thet Naing', '0951234596', 'thetnaing@example.com', Decimal('17.00'))